.backgroundForm {
  width: 500px;
  height: 500px;
  background-color: #454343;
  color: white;
}

.backgroundForm-ment {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
/* 
.backgroundForm-signup,
.backgroundForm-ment {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
} */
