.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.backgroundForm {
  width: 500px;
  height: 500px;
  background-color: #454343;
  color: white;
  z-index: -1;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.backgroundForm-signup,
.backgroundForm-ment {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}
